---

---

<div
  class="w-screen h-screen flex flex-col justify-center items-center font-mono text-4xl font-semibold"
>
  <div class="flex flex-col justify-center items-center">
    <h1 class="w-[60%]">
      This is a playground website/monorepo/random project aggregator using
      Astro. Currently trying: Svelte, barba.js, GSAP
    </h1>
    <h2 class="w-[60%] text-3xl">Links and nav will be added below.</h2>
  </div>
</div>
